ul {
    list-style-type: none;
    height: 80vh;
    background-color: white;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    overflow: scroll;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    font-size: 16px;
    font-family: Arial, sans-serif;    
    -webkit-overflow-scrolling: touch;
}
  
li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: none;
    }
    &:nth-child(even) {
      background: #f8f8f8;
    }
}

