.align {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width:50%;
}
:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}
html, body {
    background: transparent;
    height: 100vh;
    margin: 0;
    padding: 0;    
}

.row div {
    width:50%;
    height:100%;
    float:left;
}